.btn-ssm{
    padding-top: 0.1rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    font-size: .800rem;
    line-height: 1.5;
    border-radius: .2rem;

}


.row-table:nth-of-type(odd){
    background-color: rgba(0,0,0,.05);
}


.sidebar-sticky {
    position: absolute;
    right: 0px;
    left: 0px;
}




.clickable:hover{
    background: #d5e6a2;
}




.displayNone {
    display: none;
}
div.daySize4h{
    min-width: 62px;
    width: 62px;
    max-width: 62px;
}


div.daySize1h{
    min-width: 242px;
    width: 242px;
    max-width: 242px;
}




div.durationSize{
    width: 10px;
    height: 10px;
}

div.carInfoSize{
    min-width: 80px;
    max-width: 200px;
}
td.partSize{
    width: 10px;
}


.fullAllocate{
    background-color:#0F0;
}
.partAllocate{
    background-color:#f8fa3e;
}

.notAllocate{
    background-color: #ff0018;
}

input.noBorderInput{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}


a.disable-link{
    pointer-events: none;
}
