.btn-ssm{
    padding-top: 0.1rem;
    padding-right: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    font-size: .800rem;
    line-height: 1.5;
    border-radius: .2rem;

}


.row-table:nth-child(odd){
    background-color: rgba(0,0,0,.05);
}


.sidebar-sticky {
    position: absolute;
}




.clickable:hover{
    background: #d5e6a2;
}
